{% extends 'base.html.twig' %}

{% block title %}Portefolio - Connexion{% endblock %}

{% block body %}
    <section class="flex w-full lg:h-[94.8vh] md:h-[95vh] sm:h-[92vh] h-[90.9vh] justify-center" id="login--div">
        <div class="flex flex-col mt-24">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <p class="text-slate-600 text-base lg:text-lg mb-10 text-center">Bienvenue sur le panneau d'administration de mon portefolio !</p>
                <h1 class="flex justify-center text-white text-3xl font-weight-normal mb-5">Connexion</h1>

                <div class="flex flex-col items-center text-white">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="mb-5" autocomplete="email" required autofocus>
                </div>
                <div class="flex flex-col items-center text-white">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="mb-5" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >

                <div class="flex flex-col items-center">
                    <button class="w-38 flex flex-col mt-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                        Se connecter !
                    </button>
                    <a href="/"><h2 class="mt-40 text-white underline">Retour au Portefolio</h2></a>
                </div>
            </form>

        </div>
    </section>
    <footer class="bg-blue-700 shadow dark:bg-gray-800">
        {% include "/shared/_footer.html.twig" %}
    </footer>
{% endblock %}
