{% extends "base.html.twig" %}

{% block title %}Sabio Florent - Portefolio{% endblock %}

{% block body %}
    <div class="hidden rounded-3xl fixed border-2 border-white border-solid left-0 right-0 mx-auto z-20 w-2/4 p-5 mt-5" id="contact--div">
        {% include "shared/_contactModal.html.twig" %}
    </div>

    <section class="z-5" id="section--content">
        <article data-aos="zoom-out-up" class="about--background-top h-screen" id="about--div">
            {% include "shared/_about.html.twig" %}
        </article>

        <section class="about--background-bottom h-full">
            <article data-aos="fade-up">
                {% include "shared/_nav.html.twig" %}
            </article>
            <article data-aos="fade-down">
                {% include "home/project.html.twig" %}
            </article>
            <article data-aos="fade-down" class="mt-20 pb-20" id="skill--background">
                {% include "home/skill.html.twig" %}
            </article>
            <article data-aos="fade-down" id="experience--background">
                {% include "home/experience.html.twig" %}
            </article>
        </section>

        <footer class="bg-blue-700 shadow dark:bg-gray-800">
            {% include "/shared/_footer.html.twig" %}
        </footer>
    </section>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
{% endblock %}
