<div class="h-full" id="experience">
	<div class="flex flex-col items-center">
        <a href="#nav"><i class="md:mt-10 mt-5 fa-regular fa-circle-up fa-2x text-white text-center"></i></a>
        <div class="flex flex-row items-center mt-5 lg:mt-0">
            <h1 class="text-white lg:text-6xl md:text-3xl text-2xl text-center lg:me-10 me-5">Mes Experiences <span id="experience--type">Dev</span></h1>
            <label class="relative inline-flex items-center cursor-pointer" id="toggle-experience">
                <input type="checkbox" value="Autres" class="sr-only peer">
                <div class="w-10 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Autres</span>
            </label>
        </div>
    </div>
</div>

<div>
	<ul id="timeline">
		{% include "shared/_experienceTimeline.html.twig" with {"experiences" : experiences} %}
	</ul>
</div>
