<div class="hidden rounded-2xl border-2 border-solid absolute left-0 right-0 mx-auto 2xl:w-11/12 z-20 p-5 mt-5" id="project--modal">
    <i class="fa-solid fa-circle-xmark fa-2x text-white relative flex justify-end" id="project--show:close"></i>
    <div id="project--show">
    </div>
</div>
<div class="h-full" id="projects">
    <div class="flex flex-col items-center">
        <a href="#nav"><i class="mt-10 fa-regular fa-circle-up fa-2x text-white text-center"></i></a>
        <div class="flex flex-row items-center">
            <h1 class="text-white lg:text-6xl text-3xl text-center me-10">Mes Projets <span id="project--type">Perso</span></h1>
            <label class="relative inline-flex items-center cursor-pointer" id="toggle-project">
                <input type="checkbox" value="Pro" class="sr-only peer">
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
                <span class="ml-3 text-sm font-medium text-gray-900 dark:text-gray-300">Pro</span>
            </label>
        </div>
    </div>
    <ul class="p-5 lg:p-10 cards" id="slider">
        {% include "shared/_allCardProjects.html.twig" with {"projects" : projects} %}
    </ul>
</div>



