<div class="h-full" id="competence">
	<div class="flex flex-col items-center">
		<a href="#nav">
			<i class="mt-10 fa-regular fa-circle-up fa-2x text-white text-center"></i>
		</a>
        <h1 class="text-white lg:text-6xl text-3xl text-center me-10">Mes Compétences</h1>
	</div>
</div>
<div class="flex flex-col sm:grid sm:grid-cols-4 w-full mt-10 justify-around">
	<div class="mt-10 pb-20 lg:pb-0 flex flex-col col-span-2 items-center justify-center border-white border-b-2 sm:border-b-0 sm:border-r-2">
		<h2 class="text-3xl text-white">Skills</h2>
		<div class="mt-10 w-full lg:w-4/6 p-5 flex flex-wrap gap-5 overflow-y-auto h-60 md:h-80 lg:h-full">
			{% for skill in skills %}
				{% if skill.isSoftSkill == 0 %}
					<div data-aos="flip-right" class="hover:sepia sepia-0 w-34 h-34 flex flex-col flex-grow basis-20 items-center justify-center rounded-full p-5 border-solid border-2 border-white text-slate-500">
						{{ skill.iconPath | raw }}
						<p>{{ skill.name }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class="mt-10 pb-20 lg:pb-0 flex flex-col col-span-2 items-center justify-center">
		<h2 class="text-3xl text-white">Soft skills</h2>
		<div class="mt-10 w-full lg:w-4/6 p-5 flex flex-wrap gap-5 overflow-y-auto h-60 md:h-80 lg:h-full">
			{% for skill in skills %}
				{% if skill.isSoftSkill == 1 %}
					<div data-aos="flip-left" class="hover:sepia sepia-0 w-34 h-34 flex flex-col flex-grow basis-20 items-center justify-center rounded-full p-5 border-solid border-2 border-white text-slate-500">
						{{ skill.iconPath | raw }}
						<p>{{ skill.name }}</p>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>