@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    width: 100%;
}

body, * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.about--background-top, #login--div, #contact--div {
    background: linear-gradient(to bottom, #1b1b1b, #143181);
}

#about--waves {
    position: absolute;
    -webkit-box-shadow: 5px 50px 30px 19px rgba(53, 62, 105, 0.6);
        box-shadow: 5px 50px 30px 19px rgba(53, 62, 105, 0.6);
}

.about--background-bottom {
    background-color: #101f47;
}


.modalOpen {
    filter: blur(1.5rem);
    overflow: hidden;
}

.modalOpenBody {
    overflow: hidden;
}

.success {
    background-color: #2a7446;
    color: #fff;
    padding: 1rem;
    border-radius: 2rem;
    border: solid 2px #1f5835;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
    text-align: center;
    margin-top: 1rem;

    -moz-animation: cssAnimation 0s ease-in 5s forwards;
        /* Firefox */
        -webkit-animation: cssAnimation 0s ease-in 5s forwards;
        /* Safari and Chrome */
        -o-animation: cssAnimation 0s ease-in 5s forwards;
        /* Opera */
        animation: cssAnimation 0s ease-in 5s forwards;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
}

@keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        display: none;
    }
}

@-webkit-keyframes cssAnimation {
    to {
        width: 0;
        height: 0;
        display: none;
    }
}