#experience--background {
    background-image: linear-gradient(to bottom, #1c1c1c, #212032, #24254b, #212b65, #143181);
}

#timeline {
    padding: 50px 0;
}

#timeline li {
    position: relative;
    list-style-type: none;
    width: 6px;
    background-color: white;
    margin: 0 auto;
    padding-top: 50px;
}

#timeline li::after {
    background: white;
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}


#timeline li div {
    border-radius: 5px 5px 0 0;
    position: relative;
    width: 400px;
    padding: 15px;
    bottom: 0;
    background: rgba(137, 141, 182, 0.28);
}

#timeline li #experience--skill div {
    width: 100px;
    border-radius: 0;
}

#timeline li #experience--skill {
    border-radius: 0 0 5px 5px;
}

#timeline li:nth-child(odd) div {
    left: 45px;
}

#timeline li:nth-child(odd) #experience--skill div {
    left: 0px;
}

#timeline li:nth-child(even) div {
    left: -445px;
}

#timeline li:nth-child(even) #experience--skill div
{
    left: 0px;
}

time {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
}

#timeline li div {
    position: absolute;
    visibility: none;
    opacity: 0;
    transition: all .5s ease-in-out;
}

#timeline li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

#timeline li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

#timeline li.show div {
    position: relative;
    transform: none;
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    #timeline li div {
        width: 300px;
    }

    #timeline li:nth-child(even) div {
        left: -350px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 768px) {
    #timeline li div {
        width: 250px;
    }

    #timeline li:nth-child(even) div {
        left: -289px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 640px) {
    #timeline li div {
        width: 280px;
    }

    #timeline li:nth-child(even) div {
        left: 25px;
        /*250+45-6*/
    }

    #timeline li:nth-child(odd) div {
        left: 25px;
        /*250+45-6*/
    }

    li {
        left: -150px;
    }
}