:root {
    --surface-color: #101f47;
    --curve: 0;
}

@media (min-width: 640px) {
    .cards {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 2rem;
    }

    .card {
        margin-bottom: 0;
    }
}

.cards {
    display: block;
    list-style-type: none;
    height: 750px;
    overflow-y: auto;
    overflow-x: hidden;
}

.card {
    margin-bottom: 2em;
    position: relative;
    display: block;
    height: 100%;
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #fff;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: auto;
}

.project--card {
    background-image: linear-gradient(to bottom, #1b3967, #364165, #484b63, #555561, #606060);
    border: solid 1px #fff;
}

#project--modal {
    background: rgb(42, 48, 87);
    background: linear-gradient(265deg, #2a3057fb 5%, rgba(89, 82, 194, 1) 31%, rgba(99, 142, 227, 1) 69%, rgba(102, 102, 102, 1) 100%);
}