<div class="flex flex-row justify-center md:justify-around z-10">
	<div class="md:basis-1/2 md:block xl:basis-1/3">
		<div class="flex flex-column lg:justify-start justify-center lg:ms-52">
			{% if portefolio.title == "Ton job ici" %}
				<img class="mt-5 w-64 rounded-full object-center" src="{{ asset("/assets/" ~ portefolio.imageName) }}" alt="Une photo de profil illustrant l'utilisateur du portefolio.">
			{% else %}
				<img class="mt-5 w-64 rounded-full object-center" src="{{ asset("/uploadedMedia/" ~ portefolio.imageName) }}" alt="Une photo de profil illustrant l'utilisateur du portefolio.">
			{% endif %}
			
		</div>
		<div class="flex flex-row lg:justify-start justify-center lg:ms-44 z-10">
			<a class="absolute top-0 right-0 mt-3 me-3" href="{{ path("app_login") }}">
				<i class="fa-solid fa-gear fa-2x text-gray-500 hover:text-white"></i>
			</a>
			<div class="flex flex-col w-100">
				<h1 class="self-center text-white mt-5 text-5xl">{{ portefolio.name }}</h1>
				<p class="text-white self-center">{{ portefolio.birthday.diff(now).y}}
					Ans</p>
				<h2 class="mt-5 text-xl text-white">{{ portefolio.title }}</h2>
				<h3 class="self-end text-white">{{ portefolio.subtitle }}</h3>
				<button class="contact--btn z-10 shadow-xl dark:shadow-gray-800 bg-transparent hover:bg-blue-500 font-semibold text-lg text-gray-200 hover:text-white py-2 px-4 border border-gray-400 hover:border-transparent rounded sm:mt-44 md:mt-28 mt-28 lg:mt-16">
					<i class="fa-regular fa-envelope text-white me-5"></i>
					Me contacter</button>
			</div>
		</div>
	</div>

	<div class="hidden 2xl:flex shrink flex-col justify-center opacity-50">
		<img class="transition-all duration-300 filter sepia hover:sepia-0" src="{{ asset("assets/img-background.png")}}" alt="Image simple illustrant le déveleoppement web">
	</div>

	<div class="md:block hidden 2xl:basis-1/4 basis-1/2 text-gray-500 2xl:ms-28 ms-10 mt-24 max-h-[32rem] overflow-y-auto z-10">
		<h3 class="mb-5 text-white text-2xl">A propos de moi</h3>
		<p>{{ portefolio.description}}</p>
	</div>
</div>
<div class="left-0 bottom-0 absolute z-10 md:p-10 p-2 text-white text-center w-auto">
	<div class="flex flex-row text-xl items-center justify-center">
		{% if portefolio.available %}
			<i class="fa-solid fa-circle text-lime-700 me-3"></i>
			<p>Disponible</p>
		{% else %}
			<i class="fa-solid fa-circle text-red-700 me-3"></i>
			<p>En poste</p>
		{% endif %}
	</div>
	<p>Sur</p>
	<p>
		{{ portefolio.city[0] }}
		{% if portefolio.city | length() > 1 %}
			/
			{{ portefolio.city[1] }}
		{% endif %}
	</p>
</div>

<div class="hidden md:flex lg:flex xl:flex 2xl:flex flex-row justify-center sm:mt-24 md:mt-20 2xl:mt-44 mt-[3rem]">
	<a href="#nav" class="flex flex-col items-center  text-white z-10">
		<i class="shadow-xl dark:shadow-gray-800 fa-solid fa-circle-chevron-down fa-2x mb-5 text-white hover:text-blue-500 2xl:mt-24"></i>
		<p>En savoir plus...</p>
	</a>
</div>

<div class="right-0 bottom-0 absolute z-10 md:p-10 p-2 text-white text-center">
	<h3>Cv général</h3>
	<a href="{{ asset('uploadedMedia/cv/' ~ portefolio.cvName) }}" target="blank()">
		<button class="rounded border-solid border border-white hover:bg-blue-500 hover:text-white p-3 mt-3 shadow-xl dark:shadow-gray">
			<i class="fa-solid fa-download me-2"></i>
			Cv.pdf
			<i class="fa-solid fa-file-pdf ms-2"></i>
		</button>
	</a>
</div>

<svg class="bottom-0 z-0" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 320" id="about--waves">
	<path fill="#101f47" fill-opacity="1" d="M0,128L10.9,133.3C21.8,139,44,149,65,154.7C87.3,160,109,160,131,165.3C152.7,171,175,181,196,202.7C218.2,224,240,256,262,224C283.6,192,305,96,327,64C349.1,32,371,64,393,85.3C414.5,107,436,117,458,117.3C480,117,502,107,524,106.7C545.5,107,567,117,589,144C610.9,171,633,213,655,192C676.4,171,698,85,720,80C741.8,75,764,149,785,186.7C807.3,224,829,224,851,202.7C872.7,181,895,139,916,133.3C938.2,128,960,160,982,144C1003.6,128,1025,64,1047,74.7C1069.1,85,1091,171,1113,224C1134.5,277,1156,299,1178,288C1200,277,1222,235,1244,208C1265.5,181,1287,171,1309,181.3C1330.9,192,1353,224,1375,202.7C1396.4,181,1418,107,1429,69.3L1440,32L1440,320L1429.1,320C1418.2,320,1396,320,1375,320C1352.7,320,1331,320,1309,320C1287.3,320,1265,320,1244,320C1221.8,320,1200,320,1178,320C1156.4,320,1135,320,1113,320C1090.9,320,1069,320,1047,320C1025.5,320,1004,320,982,320C960,320,938,320,916,320C894.5,320,873,320,851,320C829.1,320,807,320,785,320C763.6,320,742,320,720,320C698.2,320,676,320,655,320C632.7,320,611,320,589,320C567.3,320,545,320,524,320C501.8,320,480,320,458,320C436.4,320,415,320,393,320C370.9,320,349,320,327,320C305.5,320,284,320,262,320C240,320,218,320,196,320C174.5,320,153,320,131,320C109.1,320,87,320,65,320C43.6,320,22,320,11,320L0,320Z"></path>
</svg>
