<li class="card--js-item hover:border-x-2 hover:border-white" id="showProject--{{ project.id }}">
	<a href="javascript:void(0)" class="card">
		<img src="{{ asset("uploadedMedia/" ~ project.media[0])}}" class="card__image" alt=""/>
		<div class="card__overlay">
			<div class="card__header">
				<svg class="card__arc" xmlns="http://www.w3.org/2000/svg"><path/></svg>
				<div class="card__header-text">
					<h3 class="card__title">{{ project.name }}</h3>
					<h5 class="text-slate-600">{{ project.createAt | date("Y") }}</h5>
					<span class="card__status"></span>
				</div>
			</div>
			<p class="card__description">{{ project.description }}</p>
		</div>
	</a>
</li>

