<i class="cursor-pointer fa-solid fa-circle-xmark fa-2x text-white relative flex justify-end" id="contact--div:close"></i>
        <h1 class="text-center text-xl font-bold text-white">Contactez-moi !</h1>
        <div class="mt-5 flex flex-row w-100 text-white">
            {{ form_start(formContact, {"attr" : {"class" : "flex flex-row flex-wrap w-full"}}) }}
                {{ form_label(formContact.emailFrom, "Votre adresse email: ") }}</br>
                {{ form_widget(formContact.emailFrom, {"attr" : {"class" : "flex flex-row w-full text-black p-1"}}) }}</br>

                {{ form_label(formContact.emailSubject, "Sujet du message: ", {"label_attr" : {"class" : "mt-5"}}) }}</br>
                {{ form_widget(formContact.emailSubject, {"attr" : {"class" : "mt-1 flex flex-row w-full text-black p-1"}}) }}</br>

                {{ form_label(formContact.emailContent, "Contenu du message: ", {"label_attr" : {"class" : "mt-5"}}) }}</br>
                {{ form_widget(formContact.emailContent, {"attr" : {"class" : "mt-1 flex flex-row w-full text-black p-1"}}) }}</br>

                <button type="submit" class="mx-auto text-center z-10 shadow-xl dark:shadow-gray-800 bg-transparent hover:bg-blue-500 font-semibold text-lg text-gray-200 hover:text-white py-2 px-4 border-solid border-4 border-gray-400 hover:border-transparent rounded sm:mt-44 md:mt-28 mt-28 lg:mt-16"><i class="fa-regular fa-envelope text-white me-5"></i> Envoyer</button>
            {{ form_end(formContact) }}
        </div>