{% for experience in experiences | reverse %}
	<li>
		<div class="border-2 border-white border-solid hover:sepia sepia-0">
			<time class="text-white">{{ experience.startedAt | date("m/Y") }} - {{ experience.endedAt | date("m/Y") }}</time>
			<h3 class="mb-5 text-xl text-white">{{ experience.name }}</h3>
			<img class="mb-5" src="{{ asset("uploadedMedia/" ~ experience.media[0].fileName) }}" alt="Image représentant l'expérience. Comme le logo de l'entreprise par exemple.">
			<p>{{ experience.description }}</p>
		</div>
		<a href="#competence">
			<div class="cursor-pointer border-2 border-white border-solid flex flex-row flex-wrap justify-center text-white max-h-48 overflow-y-auto" id="experience--skill">
				{% for skill in experience.skill %}
					<div class="flex flex-col items-center">
						{{ skill.iconPath | raw }}
						<p>{{ skill.name }}</p>
					</div>
				{% endfor %}
			</div>
		</a>
	</li>
{% endfor %}

