
<div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
	<span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ 'now' | date('Y') }}
		<a href="/" class="hover:underline">SABIO Florent™</a>. All Rights Reserved.
	</span>
	<ul class="flex flex-wrap justify-center items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
		<li>
			<a href="#about--div" class="mr-4 hover:underline md:mr-6 cursor-pointer ">A propos</a>
		</li>
		<li>
			<p class="contact--btn hover:underline cursor-pointer">Contact</p>
		</li>
		{# <li>
			<a href="#" class="mr-4 hover:underline md:mr-6">Privacy Policy</a>
		</li>
		<li>
			<a href="#" class="mr-4 hover:underline md:mr-6">Licensing</a>
		</li> #}
	</ul>
</div>
