<div>
	<div class="carousel">
		<ul class="slides">
            {% set mediaCounter = 1 %}
            {% for media in project.media %}
                {% if mediaCounter == 1 %}
                    <input type="radio" name="radio-buttons" id="img-{{ mediaCounter }}" checked/>
                {% else %}
                    <input type="radio" name="radio-buttons" id="img-{{ mediaCounter }}"/>
                {% endif %}
            
                <li class="slide-container">
                    <div class="slide-image mt-20">
                        <img src="{{ asset('uploadedMedia/' ~ media.fileName) }}">
                    </div>
                    <div class="carousel-controls">
                        {% if mediaCounter == 1 %}
                            <label for="img-{{ project.media | length }}" class="prev-slide mt-28">
                                <span>&lsaquo;</span>
                            </label>
                        {% else %}
                            <label for="img-{{ mediaCounter - 1 }}" class="prev-slide mt-28">
                                <span>&lsaquo;</span>
                            </label>
                        {% endif %}
                        
                        {% if mediaCounter == project.media | length %}
                            <label for="img-1" class="next-slide mt-28">
                                <span>&rsaquo;</span>
                            </label>
                        {% else %}
                            <label for="img-{{ mediaCounter + 1 }}" class="next-slide mt-28">
                                <span>&rsaquo;</span>
                            </label>
                        {% endif %}
                    </div>
                </li>
                {% set mediaCounter = mediaCounter + 1 %}
            {% endfor %}
            <div class="carousel-dots">
                {% set mediaCounter = 1 %}
                {% for media in project.media %}
                    <label for="img-{{ mediaCounter }}" class="carousel-dot" id="img-dot-{{ mediaCounter }}"></label>
                    {% set mediaCounter = mediaCounter + 1 %}
                {% endfor %}
            </div>
		</ul>
	</div>
</div>
