<nav class="container w-100 border-dashed border-gray-600 border-2 ms-auto me-auto lg:text-2xl p-1" id="nav">
    <div class="flex flex-row justify-around text-white">
        <a href="#projects"><h2 class="p-3 hover:bg-blue-500 rounded border-2 border-transparent hover:border-solid hover:border-white">
            Projets
        </h2></a>
        <a href="#competence"><h2 class="p-3 hover:bg-blue-500 rounded border-2 border-transparent hover:border-solid hover:border-white">
            Compétences
        </h2></a>
        <a href="#experience"><h2 class="p-3 hover:bg-blue-500 rounded border-2 border-transparent hover:border-solid hover:border-white">
            Expériences
        </h2></a>
    </div>
</nav>