
<h1 class="text-white text-2xl font-bold">{{ project.name }}</h1>
<h5 class="text-white">{{ project.createAt | date("Y") }}</h5>
<div class="flex flex-row mt-5">
	<div class="hidden sm:flex flex-col xl:w-5/12 lg:w-4/12 w-9/12 mx-auto mb-1">
		{% include "shared/_imageProjectCarousel.html.twig" %}
	</div>
	<div class="flex flex-col lg:w-7/12 w-full overflow-y-auto p-3">
		<div class="md:h-80 h-72 overflow-y-scroll">
			<p>{{ project.description }}</p>
		</div>
		<div class="flex md:flex-row flex-col 2xl:mt-24 mt-10 h-3/4 ">
			<div class="flex flex-col basis-8/12 h-full overflow-y-auto">
				<div class="flex flex-col items-center h-full border-white border-0 sm:border-b-0 sm:border-r-2">
					<h2 class="text-xl text-white">Skills</h2>
					<div class="mt-2 w-full lg:w-4/6 md:h-full h-28 flex flex-wrap gap-2 overflow-y-auto">
						{% for skill in project.skill %}
							<div class="cursor-pointer hover:border-gray-600 hover:text-gray-600 w-26 flex flex-col items-center justify-center rounded-full p-2 border-solid border-2 border-white text-white">
								<p>{{ skill.name }}</p>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="flex flex-col md:w-2/3 w-full h-40 overflow-y-auto md:mt-0 mt-5">
				<h2 class="text-xl text-white text-center">Liens</h2>
				<ul class="lg:p-5 p-1 text-sm lg:text-base">
					{% for link in project.link %}
						<li class="flex flex-row text-gray-800">
							<h4 class="underline">{{ link.linkLabel }}</h4>
							<p>: <a href="{{ link.linkSelf }}" class="hover:sepia sepia-0" target="_blank">{{ link.linkSelf }}</a></p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>


